.logo {
  display: flex;
  justify-content: center;
  margin: 2px 0;

  img {
    height: 70px;
  }
}
.carousel {
  height: calc(95vh - 95px);
  .carousel-img {
    object-fit: cover;
    object-position: bottom;
  }
.carousel-inner {
  height: calc(95vh - 95px);
  }

.carousel-img {
  height: calc(95vh - 95px);
}
}

$carousel-transition-duration: 5.6s;
$carousel-transition: transform $carousel-transition-duration ease-in-out;
