.form-wrapper {
  max-width: 700px;
  margin: 0 auto;

  .btn-dark {
    border-radius: 5px;
  }

  .btn-grey {
    border-radius: 5px;
    background-color: rgb(183, 183, 183);
    margin-top: 20px;
  }
}
