<div class="d-flex py-4" data-controller="toggle filter">
  <div class="col-2 border-end px-2">
    <%= render "filters" %>
  </div>
  <div class="mx-auto col-9 row">
    <div data-toggle-target="one">
      <%= render "cards" %>
    </div>
    <div data-toggle-target="two" class="disapear">
      <%= render "map" %>
    </div>
  </div>
</div>
