<div class="container cards">
  <div  class="row">
    <% @offers.each do |offer| %>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card-category" >
          <img src="https://images.unsplash.com/photo-1587750059638-e7e8c43b99fc?q=80&w=3538&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" height="250" alt="" class="object-fit-cover">
          <div class="card-body">
            <h5 class="card-title justify-content"><%= offer.title %></h5>
            <div class="card-info d-flex justify-content-between">
              <p class="card-price">$<%= offer.price %>/day</p>
              <%= link_to 'Discover', offer_path(offer), class: 'card-button' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
