.logo {
  display: flex;
  justify-content: center;
  // height: 80px;
  margin-bottom: 10px;
}

// button {
//   position: relative;
//   margin-top: 10px;
// }

.btn-dark {
  border-radius: 8px !important;
  $border-radius-lg: .25rem;
  font-size: 20px;
  background-color: $main;
}

.btn-dark:hover {
  border-radius: 8px;
  font-size: 20px;
  background-color: $hover;
}

.carousel-img {
  object-fit: cover;
  object-position: bottom;
}

$carousel-transition-duration: 3.6s;
$carousel-transition: transform $carousel-transition-duration ease-in-out;
