.car-cards {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(3, minmax(100px, 1fr));

  .card-trip {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition:
      transform 0.3s,
      box-shadow 0.3s;

    &:hover {
      transform: translateY(-10px);
      box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .image-container {
      flex: 1;
      overflow: hidden;
    }

    .card-body {
      padding: 16px 16px 0 16px;

      .card-price {
        font-size: 14px;
      }

      .card-title {
        margin-bottom: 10px;
        font-size: 15px;
        font-weight: bold;
        text-align: left;
      }
    }
  }
}

.calendar-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 16px;
  width: 339px;

  .calendar-button {
    width: 100%;
    padding: 8px;
  }
}
