.navbar-lewagon {
  height: 5rem;
  background: white;

  .navbar-link-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap: 32px;
    color: $main;
  }

  .navbar-logo img {
    width: 80px;
  }
}
